body {
  background-color: black;
}
textarea {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 0px;
  font-family: Ubuntu Mono;
  height: 1000;
  width: 1000;
  font-size: 32px;
}
